argcomplete==1.12.3
attrs==21.2.0
backports.entry-points-selectable==1.1.1
bleach==4.1.0
certifi==2021.10.8
cffi==1.15.0
cfgv==3.3.1
charset-normalizer==2.0.9
colorama==0.4.4
commitizen==2.20.0
coverage==6.2
cryptography==36.0.0
decli==0.5.2
distlib==0.3.3
docutils==0.18.1
fastcore==1.3.27
fastrelease==0.1.12
filelock==3.4.0
ghapi==0.1.19
identify==2.4.0
idna==3.3
importlib-metadata==4.8.2
importlib-resources==5.4.0
iniconfig==1.1.1
jeepney==0.7.1
Jinja2==3.0.3
jsonschema==3.2.0
keyring==23.4.0
MarkupSafe==2.0.1
mypy==0.910
mypy-extensions==0.4.3
nibabel==3.2.1
nodeenv==1.6.0
numpy==1.21.4
packaging==21.3
pkginfo==1.8.2
platformdirs==2.4.0
pluggy==1.0.0
pre-commit==2.16.0
prompt-toolkit==3.0.23
py==1.11.0
pycparser==2.21
pydicom==2.2.2
pydicom-seg==0.4.0
Pygments==2.10.0
pyparsing==3.0.6
pyrsistent==0.18.0
pytest==6.2.5
PyYAML==6.0
questionary==1.10.0
readme-renderer==30.0
requests==2.26.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
SecretStorage==3.3.1
SimpleITK==2.1.1
six==1.16.0
termcolor==1.1.0
toml==0.10.2
tomli==1.2.2
tomlkit==0.7.2
tqdm==4.62.3
twine==3.7.1
types-setuptools==57.4.4
typing_extensions==4.0.1
urllib3==1.26.7
virtualenv==20.10.0
wcwidth==0.2.5
webencodings==0.5.1
zipp==3.6.0
