argcomplete==1.12.3
attrs==21.2.0
backports.entry-points-selectable==1.1.1
cfgv==3.3.1
colorama==0.4.4
commitizen==2.20.0
decli==0.5.2
distlib==0.3.3
filelock==3.4.0
identify==2.4.0
iniconfig==1.1.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mypy==0.910
mypy-extensions==0.4.3
nodeenv==1.6.0
packaging==21.3
platformdirs==2.4.0
pluggy==1.0.0
pre-commit==2.16.0
prompt-toolkit==3.0.23
py==1.11.0
pyparsing==3.0.6
pytest==6.2.5
PyYAML==6.0
questionary==1.10.0
six==1.16.0
termcolor==1.1.0
toml==0.10.2
tomlkit==0.7.2
types-setuptools==57.4.4
typing_extensions==4.0.1
virtualenv==20.10.0
wcwidth==0.2.5
